.DS_Store
.DS_Store?
*.xcuserstate
xcuserdata/*
UserInterfaceState.xcuserstate
Pods/*
*/Pods/*
*/xcshareddata/
*/xcuserdata/*
*.xcbkptlist
R.generated.swift
/build
/DerivedData
/_Prebuild
/_Prebuild_delta
/.bundle
__pycache__/
Gemfile.lock
scripts/bugly.log
*.xcworkspacedata